/* Genesis eNews Extended
--------------------------------------------- */

.enews-widget {

	&,
	.widget-title {
		color: #fff;
	}

	input,
	input:focus {
		border: 1px solid #000;
	}

	input {
		font-size: 16px;
		margin-bottom: 16px;
	}

	input[type="submit"] {
		background-color: #e5554e;
		color: #fff;
		margin: 0;
		width: 100%;
	}

	input:hover[type="submit"] {
		background-color: #fff;
		color: #000;
	}
}

.sidebar .widget.enews-widget {
	background-color: #000;
}


.enews form + p {
	margin-top: 24px;
}
